body{
    background-color: #E1F0C4;
    padding: 0;
    margin: 10px;
}

main{
    background-color: #568e76;
    width: 85%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: border-box;
    overflow-x: hidden;
}

.title{
    text-align: center;
}

@media (max-width: 650px) {
    main {
        padding: 10px;
        width: auto; 
        margin: auto;
    }
    .title{
        text-align: left;
    }

    .nav{
        font-size: 110%;
    }
  }
  

p, h1, h2, h3, a, h4 {
    color: #FFE2D1;
}

.nav{
    font-size: 100%;
    display: flex;
    justify-content: center;
    gap: 7.5px;
    flex-wrap: wrap;
    background-color: #1C1C84;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    outline: #FFE2D1;
    outline-style: dashed;
    outline-width: 2px;
}

.nav p{
    margin: 0;
}

.nav a{
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}

.our-cuntry{
    margin-top: 20px;
    padding: 15px;
    background-color: #1C1C84;
}

.our-cuntry h3{
    margin-top: 0px;
}

.main-topic-grid-container{
    display: grid;
    margin-top: 20px;
    gap:10px;
    grid-template-columns: 50% 50%;
    padding-right: 10px;
}

.main-topic-grid-container .child{
    background-color: purple;
    padding: 10px;
    text-align: center;
}


