body{
    background-color: #8d87af;
    padding: 0;
    margin: 10px;
}

@property --main-bg-color{
    syntax:"<color>";
    inherits: false;
    initial-value:#5F4B66 ;
}

main{
    background-color: var(--main-bg-color);
}

.size-container{
    width: 85%;
    min-width: 300px;
    margin-left: auto;
    margin-right:  auto;
    padding: 10px;
    display: border-box;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

header{
    text-align: center;
    background-color: var(--main-bg-color);

}

@media (max-width: 650px) {

    .size-container{
        padding: 10px;
        width: auto; 
        margin: auto;
    }

    header{
        text-align: left;
        padding: 10px;
        width: auto; 
        margin: auto;
    }

    .nav{
        font-size: 110%;
    }
  }
  

p, h1, h2, h3, a, h4 {
    color: #ffffff;
}

.nav{
    font-size: 100%;
    display: flex;
    justify-content: center;
    gap: 7.5px;
    flex-wrap: wrap;
    background-color: #2C1320;
    padding: 10px;
    outline: #FFE2D1;
    outline-style: dashed;
    outline-width: 2px;
    margin-left: -10px;
    margin-right: -10px;
}

.nav p{
    margin: 0;
}

.nav a{
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}

.basic-text-container{
    margin-top: 20px;
    padding: 15px;
    background-color: #2C1320;
}

.basic-text-container p{
    margin: 0px;
}


.our-cuntry h3{
    margin-top: 0px;
}

.main-topic-grid-container{
    display: grid;
    margin-top: 20px;
    gap:10px;
    grid-template-columns: 50% 50%;
    padding-right: 10px;
}

.main-topic-grid-container .child{
    background-color: #8797AF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.main-topic-grid-container .child:hover{
    background-color: #A7ADC6;
    padding: 10px;
    text-align: center;
}

.image-text-together-container{
    display: flex;
}

.image-text-together-container img{
    margin-top: 20px;
    float: left;
    max-width: 30%;
    max-height: 300px;
    margin-right: 10px;
    object-fit: cover;
}

.image-text-together-container{
    float: right;
}


